.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/3532540/pexels-photo-3532540.jpeg")
    center/cover no-repeat;
}

.converter-container {
  width: 900px;
  padding: 40px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(14px);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
}

.input-card {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 25px 30px;
  border-radius: 18px;
  background: white;
  margin-bottom: 30px;
}

.input-left,
.input-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-left label,
.input-right label {
  font-size: 14px;
  color: #999;
  margin-bottom: 6px;
}

.input-left input {
  font-size: 22px;
  border: none;
  outline: none;
}

.input-right select {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #f3f4f6;
  font-size: 16px;
}

.swap-wrapper {
  display: flex;
  justify-content: center;
  margin: -10px 0 20px;
}

.swap-wrapper button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.convert-btn {
  width: 100%;
  padding: 22px;
  font-size: 26px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
