.contact {
  padding: 60px;
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input {
  padding: 10px;
  font-size: 16px;
}

.contact button {
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
}
